body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: black;
    grid-gap: 15px;
    padding: 3%;
    width: 94vw;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.darkgrey{
    background-color: #333333;
    width: 100%;
    height: 100%;
}
.grey{
    background-color: #666666;
    width: 100%;
    height: 100%;
}
.lightgrey{
    background-color: #999999;
    width: 100%;
    height: 100%;
}
h1, div:last-of-type{
    color: white;
    grid-column-start: 1;
    grid-column-end: 8;
    font-family: Arial;
}
h1{
    font-size: 7em;
}
h2{
    font-size: 3em;
}
@media screen and (min-width:776px) and (max-width:991px){
    body{grid-template-rows: repeat(3, 1fr)}
    h1{
        grid-column: 1/5;
    }
    div:last-of-type{
        grid-column: 5/8;
    }
}
@media screen and (min-width: 992px){
    body{
        grid-template: repeat(9, 90px)/repeat(9, 1fr);
        width: 80vw;
        margin: 0 auto;
        gap: 0.2vw;
    }
    .image5{grid-area: 4/1/6/2;}
    .image3{grid-area: 3/2/7/6;}
    .darkgrey{grid-area: 2/3/3/5;}
    .lightgrey{grid-area: 7/3/8/4;}
    .image1{grid-area: 1/5/3/6;}
    .image9{grid-area: 7/4/9/6;}
    .image6{grid-area: 4/6/6/8;}
    .grey{grid-area: 6/6/8/7;}
    .image11{grid-area: 8/6/10/7;}
    .image2{grid-area: 2/7/4/8;}
    .image4{grid-area: 3/8/5/9;}
    .image7{grid-area: 5/8/6/10;}
    .image8{grid-area: 6/7/7/9;}
    .image10{grid-area: 7/7/9/8;}
    div:last-of-type{grid-area: 7/8/9/10;}
    h2{font-size: 1.5em; margin: 0;}
    h2:first-of-type{margin-top: 30px}
    h1{grid-area: 2/6/4/8; margin: 30px 0 0 0; font-size: 4.5em}
}