header{
    background-image: url('../img/header.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700PX;
}

h1{
    margin: 0;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
}
article{
    display: inline-block;
    width: 20%;
}
h2{
    text-align: center;
}
.haut{
    padding-top: 50px;
}
.ecart{
    padding-left: 50px;
}
.couleur{
    background-color: crimson;
}